.main-container {
    margin: 17rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}


.img-desk {
    grid-column: 2;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
    height:; 
    background-image: linear-gradient(
        hsl(277, 64%, 45%, 0.500), 
        hsla(277, 65%, 45%, 0.500)),
    url(/images/image-header-desktop.jpg);

}

.main-container__title {
    grid-column: 1;
    font-size: 5rem;
}

.main-container__descr {
    grid-column: 1;
    font-size: 2rem;
    padding: 1rem 7rem;
    text-align: left;
    line-height: 3rem;
}

.container-stats {
    grid-column: 1;
    display: flex;
    flex-direction: row;
}
.container-stats-descr {
    display: inline;
    justify-content: center;
    margin: auto;
}

.img {
    display: none;
}